Port 2222

HostKey /data/ssh/ssh_host_rsa_key
HostKey /data/ssh/ssh_host_ecdsa_key
HostKey /data/ssh/ssh_host_ed25519_key

AllowUsers vpn

AuthorizedKeysFile      .ssh/authorized_keys

PasswordAuthentication no

Subsystem       sftp    internal-sftp
